.mobile-tickers {
  &__dropdown {
    position: relative;
  }
  &__open-btn {
    display: flex;
    padding: 6px 12px;
    width: calc(100% - 20px);
    text-align: right;
    min-height: 40px;
    border-radius: 0;
    border: 1px solid #e7e7e7;
    // -webkit-box-shadow: 0 2px 2px 0 rgb(0, 0, 0, 14%),
    //   0 3px 1px -2px rgb(0, 0, 0, 20%), 0 1px 5px 0 rgb(0, 0, 0, 12%);
    // box-shadow: 0 2px 2px 0 rgb(0, 0, 0, 14%), 0 3px 1px -2px rgb(0, 0, 0, 20%),
    //   0 1px 5px 0 rgb(0, 0, 0, 12%);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    margin: 10px;
    align-items: center;
    justify-content: space-between;
  }
  &__open-btn > *:last-child {
    display: flex;
    gap: 5px;
    font-size: 14px;
  }
  & .left-label {
    color: grey;
    fill: grey;
    float: left;
    width: 20px;
    display: flex;
  }

  &__container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 0;
    z-index: 10;
  }
  &__container .tab-content{
      overflow: auto;
  }
  &__header {
    padding: 15px;
    height: 50px;
    background-color: #00b5ad;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-size: 18px;
  }
  &__close-btn {
  }
  & .nav {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
  }
  & .nav-tabs .nav-link {
    transition: background-color 0.5s;
    border-radius: 0px;
    color: #777777;
  }
  & .nav-link.active {
    color: #00b5ad;
    background-color: #e7e7e7;
    border: none;
    border-bottom: 2px solid #00b5ad;
  }
  &__list {
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: auto;
  }
  &__tile {
    height: 82px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #dddddd;
  }
  &__icon {
    width: 40px;
    height: 40px;
    & > img {
      width: 100%;
      height: 100%;
    }
  }
  &__detail {
    // display: flex;
    // flex-direction: column;
    margin-right: 20px;
    width: 120px;
  }
  &__name {
    font-size: 14px;
  }
  &__currency {
    color: #707070;
    font-size: 12px;
    margin-top: 4px;
  }
  &__price > *:first-child {
    font-size: 17px;
  }
  &__price > *:last-child {
    font-size: 13px;
  }
}
