ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.update {
  animation: blinking 0.5s;
}
.red {
  color: #d0021b;
}
.green {
  color: #00ce7d;
}
// https://blog.hubspot.com/website/hide-scrollbar-css
/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
/* hide scrollbar but allow scrolling */
.scrollbar-hidden {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  width: 0 !important;
  display: none; /* for Chrome, Safari, and Opera */
}
/* width */
.scrollbar-custom::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle on hover */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  border: none;
  outline: none;
  width: 100%;
  background-color: rgba(#fff, 0.3);
  -webkit-box-shadow: 0 0 0 30px rgba(#fff, 0.3) inset;
  color: #767676 !important;
  -webkit-text-fill-color: #767676 !important;
}
