ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.update {
  animation: blinking 0.5s;
}
.red {
  color: #d0021b;
}
.green {
  color: #00ce7d;
}
// https://blog.hubspot.com/website/hide-scrollbar-css
/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
