.current-orders {
  & .screen__search-bar {
    justify-content: space-between;
  }
  &__text.positive {
    color: #5ad998;
  }
  &__text.negative {
    color: #dc484e;
  }
  & .admin-dropdown__label {
    justify-content: start;
  }
  & .admin-dropdown__options {
    top: 40px;
  }
}
