.pane-legend-title__container {
    display: none;
}

.pane-legend .pane-legend-minbtn, .pane-legend .pane-legend-icon {
    display: none;
}

.pane-legend-line > span.pane-legend-line:not(.no-context-menu):before {
    display: none;
}

.pane-legend-line.pane-legend-wrap.study > .pane-legend-line {
    margin-right: 5px;
    padding-right: 0;
}

.button-2-lC3gh4-.button-2ioYhFEY-.apply-common-tooltip.isInteractive-20uLObIc- {
    display: none;
}