.market-history thead tr th,
.market-history tbody tr td {
  font-weight: 400;
}
.market-history tbody {
  // height: 315px;
  height: 340px;
  display: block;
}

.market-history table,
.market-history tr,
.market-history td,
.market-history th {
  width: 100%;
  table-layout: fixed;
}

.market-history thead th:first-child,
.market-history tbody td:first-child {
  flex: 3;
}
.market-history thead th:nth-child(2),
.market-history thead th:nth-child(3),
.market-history tbody td:nth-child(2),
.market-history tbody td:nth-child(3) {
  flex: 4;
  text-align: right;
}

.market-history {
  border: 1px solid #333;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__header {
    border-bottom: 1px solid #333;
    background-color: #4597e6;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 5px;
  }
  & > table.table {
    display: flex;
    flex: auto;
    flex-direction: column;
    overflow: hidden;
    & > tbody {
      display: flex;
      flex-direction: column;
      flex: auto;
      overflow: auto;
    }
  }
}
