.market-pairs {
  border: 1px solid #333;
  padding-top: 14px;
  border-radius: 2px;
  position: absolute;
  top: 39px;
  left: -12px;
  display: none;
  height: 50vh;
  width: 60vw;
  overflow: hidden;
  background-color: #fff;
  flex-direction: column;
  flex: auto;
  display: flex;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  & .input-group {
    padding: 0 14px;
  }
  & span {
    background: transparent;
  }
  & input {
    border-color: #e0e3eb;
    border-left: 0;
    font-weight: 300;
  }
  & input:focus {
    box-shadow: none;
    border-color: #e0e3eb;
  }
  & .nav {
    margin-top: 14px;
    background: #4597e6;
    border-bottom: transparent;
  }

  & .nav-link {
    color: #fff;
    padding: 10px 13px;
  }
  & .nav-link:hover {
    border-color: transparent;
  }
  & .nav-link.active {
    background: #191970;
    color: #fff;
    border-color: transparent;
  }
  & .table th {
    font-weight: 400;
  }
  & .table td {
    font-size: 13px;
    padding: 10px 18px;
    font-weight: 400;
    cursor: pointer;
  }
  & > .tab-content {
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: hidden;
    & > [aria-hidden="false"] {
      display: flex;
      flex-direction: column;
      flex: auto;
      overflow: hidden;
      & .header,
      & .market-tile {
        display: flex;
        padding: 5px 10px;
      }
      & .header {
        background: #191970;
        color: #fff;
      }
      & .header > * {
        flex: 1;
      }
      & .pair-list {
        flex: auto;
        display: flex;
        flex-direction: column;
        overflow: auto;
        & .market-tile {
          cursor: pointer;
        }
        & > .market-tile.active {
          color: #fff;
          background-color: #333;
        }
        & > .market-tile:hover {
          background-color: #a0a0a0;
        }
        & > .market-tile > * {
          flex: 1;
        }
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  // If [device width] is greater than or equal to 600px,
  .market-pairs {
    width: calc(100vw - 2px);
    & .header > *:nth-child(4),
    & .header > *:nth-child(5),
    & .header > *:nth-child(6),
    & .market-tile > *:nth-child(4),
    & .market-tile > *:nth-child(5),
    & .market-tile > *:nth-child(6) {
      display: none;
    }
  }
}
// ipad air & ipad mini
// @media only screen and (max-width: 820px) and (min-width: 414px) {
//   // The query above will trigger only for screens that are 600-400px wide. This can be used to target specific devices with known widths.
// }
// iphone XR
@media only screen and (max-width: 414px) {
  // If [device width] is less than or equal to 600px, then do
}
