.no-data {
  position: absolute;
  right: 48%;
  top: 48%;
  text-align: center;
  color: #b9c2ca;
}
.no-data i {
  font-size: 100px;
  display: block;
  line-height: 0px;
  color: #dce1e5;
}
.market-order-item {
  color: #758696;
  padding: 8px 15px;
}
// .market-order-item > li {
//   // width: 12%;
//   text-align: right;
// }
.market-order-item > li {
  min-width: 75px;
  text-align: right;
}
.market-order-item > li:first-child {
  text-align: left;
}
.market-order-item > li:last-child {
  text-align: center;
}

.market-order-item.market-balance > li {
  width: 24%;
  text-align: right;
}
.market-order-item.market-balance > li:first-child {
  width: 20%;
  text-align: left;
}

.market-order {
  height: calc(50vh - 57px);
  border-top: 0;
  border: 1px solid #333;
  overflow: hidden;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  flex: auto;
  & > nav.nav-tabs > a.nav-link.active,
  & > nav.nav-tabs > a.nav-link:hover {
    color: #007bff;
  }
  & > nav.nav-tabs > a.nav-link {
    color: #4a4a4a;
    padding-bottom: 0px;
    padding-top: 10px;
    margin-top: 2px;
  }
  & > .tab-content {
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: hidden;
    & > [aria-hidden="false"] {
      display: flex;
      flex-direction: column;
      flex: auto;
      overflow: hidden;
      & > .order-list {
        flex: auto;
        display: flex;
        flex-direction: column;
        overflow: auto;
      }
    }
  }

  &__header {
    border-bottom: 1px solid #333;
    background-color: #4597e6;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 5px;
  }
}
@media only screen and (max-width: 414px) {
  .market-order {
    border: none;

    &__header {
      display: none;
    }
    &__title {
      border-bottom: 1px solid #333;
      background-color: #4597e6;
      color: white;
      font-weight: 700;
      font-size: 14px;
      padding: 8px 5px;
    }

    & > .nav.nav-tabs > [role="tab"][data-rb-event-key="balance"],
    & > .tab-content > [role="tabpanel"]:last-child {
      display: none;
    }
  }
}
