.market-history .nav {
  background: #f5f9fc;
}
.market-history .nav-link {
  color: #4a4a4a;
  padding: 10px 13px;
}

.market-history .nav-link.active {
  color: #007bff;
  background: transparent;
}

.market-history thead tr th,
.market-history tbody tr td {
  font-weight: 400;
}
.market-history tbody {
  height: 315px;
  overflow-y: auto;
  display: block;
}

.market-history table,
.market-history tr,
.market-history td,
.market-history th {
  width: 100%;
  table-layout: fixed;
}
.market-history tr {
  // float: left;
  // clear: both;
  // overflow: hidden;
  display: flex;
  padding: 8px;
  gap: 5px;
  border-top: 1px solid #f0f3fa;
}
.market-history thead th,
.market-history tbody td {
  padding: 0px;
  border: none;
}
.market-history {
  border: 1px solid #e0e3eb;
  border-radius: 2px;
}
.market-history thead th:nth-child(2),
.market-history tbody td:nth-child(2) {
  width: 40%;
  text-align: right;
}
.market-history thead th:nth-child(1),
.market-history tbody td:nth-child(1) {
  width: 25%;
}
.market-history thead th:nth-child(3),
.market-history tbody td:nth-child(3) {
  width: 35%;
  text-align: right;
}
