.order-book {
  // height: 431px;
  height: 100%;
  overflow: hidden;
  border: 1px solid #333;
  &__table {
    display: flex;
    flex-direction: column;
    flex: auto;
    & > tbody {
      overflow: auto;
      flex: auto;
    }
    & > thead {
      border-bottom: 1px solid #333;
      background-color: #4597e6;
      color: white;
      font-weight: 700;
      font-size: 14;
    }

    & > thead,
    & > tbody {
      padding: 8px 5px;
    }
    & > thead > tr > th,
    & > tbody > tr > td {
      flex: auto;
      text-indent: 2px;
    }
    & > thead > tr.text-left > th {
      text-align: left;
    }
    & > tbody > tr.text-right > th {
      text-align: right;
    }
    & > tbody > tr > td {
      font-size: 12px;
    }
  }
}
.red {
  color: #d0021b;
  font-weight: 500;
}
.green {
  color: #00ce7d;
  font-weight: 500;
}
.red-bg,
.green-bg {
  position: relative;
}

.green-bg-cover,
.red-bg-cover {
  position: absolute;
  content: "";

  top: 0;
  // width: attr(data-width,'');
  padding: 0 !important;
  height: 45px;
  height: -webkit-fill-available;
}

.red-bg-cover {
  background: #de262663;
  left: 0;
}

.green-bg-cover {
  background: #26de8163;
  right: 0;
}
