.order-book {
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 100%;
  border: 1px solid #333;

  &__tool-bar {
    background-color: #4597e6;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: flex-end;
  }
  &__range-options{
    max-width: 100px;
  }
  &__range-options > .header-dropdown__button {
    background-color: transparent;
    border: none;
  }

  &__header {
    // border-bottom: 1px solid #dee2e6;
    color: #555;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 0px;
    padding-right: 5px;
    background-color: #4597e6;
    border-bottom: 1px solid #333;
    color: white;
  }
  &__table {
    display: flex;
    flex-direction: row;
    flex: auto;
    height: calc(50vh - 135px);
    min-height: 350px;
    position: relative;
    // overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__header--bids,
  &__header--asks,
  &__panel {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &__tile {
    position: relative;
    font-size: 12px;
    cursor: pointer;
  }

  &__header--bids > *,
  &__header--asks > *,
  &__tile > * {
    flex: 1;
    text-indent: 2px;
    width: 80px;
  }
  &__header--bids,
  &__panel--bids > &__tile {
    text-align: right;
    justify-content: flex-end;
    padding-right: 2px;
  }
  &__header--asks,
  &__panel--asks > &__tile {
    text-align: left;
    padding-left: 2px;
  }
  &__panel--bids > &__tile > *:nth-child(3) {
    color: #03a363;
    font-weight: 500;
  }
  &__panel--asks > &__tile > *:nth-child(1) {
    color: #d0021b;
    font-weight: 500;
  }
  &__tile--cover {
    position: absolute;
    top: 0;
    // height: -webkit-fill-available;
    height: 18px;
  }
  &__panel--bids &__tile--cover {
    background: #26de8225;
    right: 0;
  }
  &__panel--asks &__tile--cover {
    background: #de262625;
    left: 0;
  }
}

// @media only screen and (min-width: 820px) {
//   // If [device width] is greater than or equal to 820px,
//   .order-book {
//     &__header > *,
//     &__tile > * {
//     }
//   }
// }

// // ipad air & ipad mini
// @media only screen and (max-width: 820px) and (min-width: 414px) {
//   // The query above will trigger only for screens that are 600-400px wide. This can be used to target specific devices with known widths.
//   .order-book {
//     &__header > *,
//     &__tile > * {
//     }
//   }
// }

// iphone XR
@media only screen and (max-width: 414px) {
  // If [device width] is less than or equal to 600px, then do
  .order-book {
    border: 1px solid #ddd;
    &--mobile {
      margin: 0 10px 10px;
      flex: auto;
      overflow: auto;
    }
    .tab-content & {
      border: none;
    }
    .tab-content &__table {
      height: calc(50vh - 59px);
    }
    &__table {
      height: 100%;
    }
    &__header {
      border-bottom: 1px solid #ddd;
    }

    &__header--bids > *,
    &__header--asks > *,
    &__tile > * {
      width: 54px;
    }
  }
}
