.order-book {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  border: 1px solid #333;
  &__table {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: calc(50vh - 59px);
    min-height: 398px;
  }
  &__panel {
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: auto;
    // padding: 0 5px;
  }
  &__header {
    border-bottom: 1px solid #333;
    background-color: #4597e6;
    color: white;
    font-weight: 700;
    font-size: 14;
    padding: 8px 5px;
  }
  &__tile {
    position: relative;
    font-size: 12px;
  }
  &__header > *,
  &__tile > * {
    flex: auto;
    text-indent: 2px;
  }
  &__bids > &__header,
  &__bids > &__panel > &__tile {
    text-align: right;
  }
  &__asks > &__header,
  &__asks > &__panel > &__tile {
    text-align: left;
  }
  &__bids > &__panel > &__tile > *:nth-child(3) {
    color: #00ce7d;
    font-weight: 500;
  }
  &__asks > &__panel > &__tile > *:nth-child(1) {
    color: #d0021b;
    font-weight: 500;
  }
  &__tile--cover {
    position: absolute;
    top: 0;
    // height: -webkit-fill-available;
    height: 18px;
  }
  &__bids &__tile--cover {
    background: #26de8163;
    right: 0;
  }
  &__asks &__tile--cover {
    background: #de262663;
    left: 0;
  }
}

@media only screen and (min-width: 820px) {
  // If [device width] is greater than or equal to 600px,
}
// ipad air & ipad mini
// @media only screen and (max-width: 820px) and (min-width: 414px) {
//   // The query above will trigger only for screens that are 600-400px wide. This can be used to target specific devices with known widths.
// }
// iphone XR
@media only screen and (max-width: 414px) {
  // If [device width] is less than or equal to 600px, then do
  .order-book {
    flex-direction: column;
    &__bids > &__header,
    &__bids > &__panel > &__tile {
      text-align: left;
    }
    &__bids &__tile--cover {
      left: 0;
    }
    &__bids > &__panel > &__tile > *:nth-child(1) {
      color: #00ce7d;
      font-weight: 500;
    }
    &__bids > &__panel > &__tile > *:nth-child(1) {
      color: #18214d;
      font-weight: 500;
    }
    &__asks > &__panel &__tile--cover {
      right: 0;
      left: auto;
    }
  }
}
