.market-history {
  height: calc(50vh - 57px);
  min-height: 400px;
  border: 1px solid #333;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__header {
    border-bottom: 1px solid #333;
    background-color: #4597e6;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 5px;
  }

  &__list {
    display: flex;
    flex: auto;
    flex-direction: column;
    overflow: auto;
  }
  &__title {
    padding: 15px 5px 5px;
    border-bottom: 1px solid #dee2e6;
    line-height: 1;
  }
  &__tile {
    align-items: center;
    padding: 0 5px;
    font-size: 12px;
    border-bottom: 1px solid #dee2e6;
    &--time {
      display: flex;
      flex-direction: column;
      font-size: 10px;
    }
    &--data {
      font-size: 14px;
    }
  }
  &__title > li:nth-child(1),
  &__tile > div:nth-child(1) {
    flex: 3;
    text-align: left;
  }
  &__title > li:nth-child(2),
  &__tile > div:nth-child(2) {
    flex: 4;
    text-align: right;
  }
  &__title > li:nth-child(3),
  &__tile > div:nth-child(3) {
    flex: 5;
    text-align: right;
  }
}

.order-tile {
  &__label-box {
    display: flex;
    gap: 2px;
  }
  &__label {
    color: #fff;
    font-size: 0.8rem;
    line-height: normal;
    padding: 2px;
    border-radius: 2px;
    &--red {
      background-color: rgba(208, 2, 27, 0.8);
    }
    &--green {
      background-color: rgba(0, 206, 125, 0.8);
    }
    &--blue {
      background-color: #2b90de;
    }
    &--grey {
      background-color: #777;
    }
  }
}
.order-list {
  flex: auto;
}
.pending-orders {
  flex: auto;
  display: flex;
  flex-direction: column;
  &__box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
}

@media only screen and (max-width: 414px) {
  // If [device width] is less than or equal to 600px, then do
  .market-history {
    border: none;

    &__header {
      display: none;
    }
    &__title {
      border-bottom: 1px solid #333;
      background-color: #4597e6;
      color: white;
      font-weight: 700;
      font-size: 14px;
      padding: 8px 5px;
    }
    &__title > li:nth-child(1),
    &__tile > div:nth-child(1) {
      flex: 5;
    }
    &__tile--time {
      flex-direction: row;
      font-size: 12px;
    }
  }
}
