.market-trade {
  position: relative;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    justify-content: center;
    align-items: center;
    & a,
    & a:hover,
    & a:active {
      color: white;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100%;
    min-width: 494px;
  }
  &__header {
    border-bottom: 1px solid #333;
    background-color: #4597e6;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 5px;
  }
  & > &__container > nav.nav-tabs > a.nav-link.active,
  & > &__container > nav.nav-tabs > a.nav-link:hover {
    color: #007bff;
  }
  & > &__container > nav.nav-tabs > a.nav-link {
    color: #4a4a4a;
    padding-bottom: 0px;
    padding-top: 10px;
    margin-top: 2px;
  }
  & > &__container > .tab-content {
    flex: auto;
    display: flex;
    flex-direction: column;
  }
  & > &__container > .tab-content > .tab-pane.active.show {
    flex: auto;
    display: flex;
    flex-direction: column;
  }
  &__panel {
    flex: auto;
    display: flex;
    flex-direction: row;
  }
  &__form {
    position: relative;
    height: calc(50vh - 132px);
    min-height: 325px;
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 4px 12px 14px 12px;
  }
  &__form:last-child {
    border-left: 1px solid #e0e3eb;
  }
  &__text {
    margin: 5px 0;
    font-size: 13px;
    color: #4a4a4a;
  }

  &__text > span {
    float: right;
  }
  &__input-group {
    display: flex;
    // align-items: center;
    // flex-wrap: unset;
    flex-direction: column;
    & > label {
      margin-bottom: 0;
      font-size: 13px;
      color: #4a4a4a;
      // border: 1px solid #e0e3eb;
      // padding: 8px 12px;
      // height: 38px;
      // border-right: none;
      // border-top-left-radius: 0.25rem;
      // border-bottom-left-radius: 0.25rem;
      // min-width: 75px;
    }
  }
  &__input-group--box {
    display: flex;
    flex: auto;
  }
  &__input-group:not(:last-child) {
    margin-bottom: 10px;
  }
  &__input {
    flex: auto;
    border: 1px solid #e0e3eb;
    font-weight: 300;
    border-radius: 0px;
    text-align: right;
    // border-top-right-radius: 0px;
    // border-bottom-right-radius: 0px;
  }
  &__input:focus {
    box-shadow: none;
    border-color: #e0e3eb;
  }
  &__input-group--append {
    min-width: 70px;
    background: #eff2f6;
    color: #4a4a4a;
    font-weight: 300;
  }
  &__input-group--append > span {
    width: 100%;
    display: block;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  &__error-message--container {
    height: 27px;
  }
  &__error-message {
    margin-bottom: 6px;
    line-height: 1;
    font-size: 13px;
    color: #ef5350;
    text-align: right;
  }
  &__amount-controller {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0px;
    padding: 0px;
    margin-bottom: 7px;
    gap: 7px;
    // justify-content: space-between;
  }
  &__amount-controller > li > span {
    background: #eff2f6;
    color: #4a4a4a;
    font-weight: 300;
    padding: 3px 15px;
    border-radius: 5px;
  }
  &--buy > &__amount-controller li span:hover,
  &--buy > &__amount-controller li.active span {
    text-decoration: none;
    background: #26a69a;
    color: #fff;
  }
  &--sell > &__amount-controller li span:hover,
  &--sell > &__amount-controller li.active span {
    text-decoration: none;
    background: #ef5350;
    color: #fff;
  }
  &__form > *:last-child {
    // flex: auto;
  }
  &__button {
    color: #fff;
    text-transform: uppercase;
    padding: 6px 12px;
    // flex: auto;
    // margin-top: 1rem;
    align-self: flex-end;
    width: 100%;
  }
  &--buy > &__button {
    // background: #26de81;
    background: #00b5ad;
    // box-shadow: 0px 0px 15px 0px #26de81ad;
  }
  &--sell > &__button {
    // background: #ff231f;
    background: #d9534f;
    // box-shadow: 0px 0px 15px 0px #ff231fad;
  }
}

@media only screen and (max-width: 414px) {
  // If [device width] is less than or equal to 600px, then do
  .market-trade {
    border: none;

    &__input-group {
      display: flex;
      align-items: center;
      flex-wrap: unset;
      flex-direction: row;
      & > label {
        margin-bottom: 0;
        font-size: 13px;
        color: #4a4a4a;
        border: 1px solid #e0e3eb;
        padding: 8px 12px;
        height: 38px;
        border-right: none;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        min-width: 75px;
      }
    }

    &__header {
      display: none;
    }
    &__panel {
      flex-direction: column;
      // gap: 2px;
    }
    & > &__container {
      min-width: 0px;
    }
    & > &__container > nav.nav-tabs > a.nav-link {
      flex: 1;
      color: #00b5ad;
      text-align: center;
    }
    & > &__container > nav.nav-tabs > a.nav-link.active {
      color: #00b5ad;
      border: none;
      border-bottom: 2px solid #00b5ad;
    }
    & > &__container > .tab-content &__panel > nav.nav-tabs {
      border: none;
    }
    & > &__container > .tab-content &__panel > nav.nav-tabs > a.nav-link {
      margin: 6px 10px;
      border: 2px solid #f0b90b;
      flex: 1;
      color: #f0b90b;
      text-align: center;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
    &
      > &__container
      > .tab-content
      &__panel
      > nav.nav-tabs
      > a.nav-link.active {
      background-color: #f0b90b;
      color: white;
    }
  }
}
