.main-chart {
  height: calc(50vh - 57px);
  min-height: 400px;
  border: 1px solid #333;
  &__chart {
    height: calc(100% - 40px);
  }
  &__header {
    border-bottom: 1px solid #333;
    background-color: #4597e6;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 5px;
  }
}
.tool-bar {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #d0d1d3;
  padding: 10px 6px;
}
.tool-bar > * {
  line-height: 1;
}
.tool.active {
  color: #007bff;
}
@media only screen and (max-width: 414px) {
  .main-chart {
    height: 100%;
    flex: auto;
  }
}
