.navbar.bg-teal {
  background-color: #00b5ad;
  & > .navbar-collapse {
    justify-content: flex-end;
  }
  & > .navbar-collapse > .nav-link {
    vertical-align: middle;
    line-height: 1;
    padding: 16px 20px;
    text-transform: none;
    transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
    font-weight: 400;
  }
  & > .navbar-collapse > .nav-link:hover {
    background: hsla(0, 0%, 100%, 0.08);
  }
  & > .navbar-collapse > .nav-link,
  & > .navbar-collapse > .nav-link:active,
  & > .navbar-collapse > .nav-link:hover {
    color: #fff;
  }
}
