@import "./header";
@import "./sidebar";
@import "./main";
@import "./section";

#layout {
  position: relative;
}

.layout {
  &--pushable {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    pointer-events: stroke;
  }
  &--pusher {
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
  }
  &--pusher.active {
    transform: translateX(110px);
  }
  &--pusher.active > &--cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
  }
}
