main.main {
  display: flex;
  flex-direction: column;
  // height: calc(100vh - 70px);
  width: 100vw;
  padding: 0 2px 2px 2px;
  background-color: #fff;
}

@media only screen and (max-width: 414px) {
  main.main {
    padding: 0;
  }
}
