.section {
  display: flex;
  flex-direction: column;
  gap: 2px;
  &__container {
    gap: 2px;
    display: flex;
    flex-direction: row;
    &--left,
    &__right {
      flex: 1;
    }
    &--left {
      flex: 2;
    }
    &--right {
      display: flex;
      flex-direction: row;
      flex: 3;
      gap: 2px;
    }
    &--right > *:first-child {
      flex: 2;
    }
    &--right > *:last-child {
      flex: 1;
    }
  }
}
@media only screen and (max-width: 1120px) {
  // If [device width] is less than or equal to 600px, then do
  .section {
    &__container {
      &--right > *:first-child {
        flex: 4;
      }
      &--right > *:last-child {
        flex: 3;
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  // If [device width] is less than or equal to 600px, then do
  .section {
    flex: auto;
    &__container {
      flex: 1;
      flex-direction: column;
      &--right > *:first-child {
        flex: 1;
      }
      &--right > *:last-child {
        flex: 1;
      }
    }
  }
}
// iphone XR
@media only screen and (max-width: 414px) {
  // If [device width] is less than or equal to 600px, then do
  .section {
    gap: 8px;
    height: calc(100% - 94px);
    flex: none;
    &__container {
      border: 1px solid #333;
    }
    &__container {
      gap: 0;
      &--right {
        flex-direction: column;
      }
    }
    &--asset {
      height: calc(100% - 56px);
    }
  }
}
